@import "common";

.item {
    display: flex;
    background: $item-bg;
    @include item-common(1, 1);
    margin-block: 1rem;
}

.item-info__date {
    color: $bg;
}

.state {
    border-radius: 50%;
    align-self: center;
    margin-right: 1rem;
    width: $state-size;
    height: $state-size;
}

.state.undone {
    background: $state-undone;
}

.state.done {
    background: $state-done;
}

.state.progress {
    background: $state-progress;
}
