@import "common";

.tools {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: sticky;
}

.tools__new-project {
    @include tools-common(0.8, 0.8);
    background: $add-btn-bg;
    color: $add-btn-fg;
    font-size: $add-btn-fs;
}

.tools__sort,
.tools__sort-priority {
    @include tools-common(0.8, 0.8);
    background: $tools__sort-priority-bg;
    font-size: $add-btn-fs;
}

.tools__sort-priority {
    margin-right: 0.5rem;
    margin-left: auto;
}
