.add-item {
    background: #999;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.add-item input[name="fullname"],
.add-item input[name="end-date"] {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    outline: none;
    font-size: 1.1rem;
}

.add-item__cancel-button,
.add-item__confirm-button {
    padding-block: 0.7rem;
    border: none;
    border-radius: 0.5rem;
}
